<!DOCTYPE html>
<html>
<head>
<title>Information</title>
</head>
<body>
<center>
<h2><u>Causes</u></h2>
</center>
<p style="font-size: 20px;">Arrhythmias can be caused by:</p>
<ol style="font-size: 25px;">
<li> Coronary artery disease.</li>
<li> Irritable tissue in the heart (due to genetic or acquired causes).</li>
<li>High blood pressure. </li>
<li>Changes in the heart muscle (cardiomyopathy). </li>
<li> Valve disorders.</li>
<li>Excessive Alcohol. </li>
<li> Injury from a heart attack.</li>
<li>Electrolyte imbalances in your blood, such as sodium or potassium imbalances.</li>
</ol>
</body>
</html>

