<!DOCTYPE html>
<html>
<head>
<title>Information</title>

<style>
body {
  background-image: url('hb5.jpg');
background-size:cover;
 background-repeat: no-repeat;
 filter: blur(0.1px);
}
	.text {
	  text-align: center;
      position: absolute;
	  background-color: rgba(256 , 256,256,0.5);
	  font-size: 25px;
</style>
</head>
<body>
<center>
<h2 ><u>Symptoms</u></h2>
</center>
<p style="font-size: 20px;">In general, signs and symptoms of arrhythmias may include:</p>
<ol class="text">
<li>Feeling of skipped heartbeat </li>
<li>Dizziness or feeling lightheaded.</li>
<li>Shortness of breath.</li>
<li>Chest discomfort.</li>
<li>Weakness or fatigue </li>
<li>Weakening of the heart muscle or low ejection fraction.</li>
<li>Anxiety</li>
<li>Sweating</li>
<li>A racing heartbeat (tachycardia)</li>
<li>A slow heartbeat (bradycardia)</li>
</ol>
</body>
</html>


