<!DOCTYPE html>
<html>
<head>
<title>Information</title>
</head>
<body>
<center>
<h2><u>Treatment</u></h2>
</center>
<p style="font-size: 18px;">It’s important to exercise, maintain a healthy diet, and manage your blood pressure and cholesterol levels when you have an arrhythmia. This can lower your risk for complications like a heart attack or stroke.<br>If you experience a fast heart rate without any other symptoms, a doctor may suggest that you try vagal maneuvers. They can prompt your vagus nerve to slow your heart rate. Vagal maneuvers can include:
</p>
<ol style="font-size: 20px;">
<li> soaking your face with cold water</li>
<li> coughing and gagging</li>
<li>holding your breath while straining </li>
</ol>
<p style="font-size: 18px;"><b>Medication - </b>A doctor may give you medication to help you manage your arrhythmia and prevent complications like a heart attack.</p>
<p style="font-size: 18px;"><b>Surgery - </b>If medication or other treatments aren’t enough to help your arrhythmia, you may need a minor procedure or surgery.</p>
</body>
</html>



