
<!DOCTYPE html>
 <html> 
<head>
<title>Types</title>
<style>
p,ol,ul{
  color: black;
  text-indent: 30px;
  font-family: "Times New Roman";
font-size:20px;
}
div.container {
  text-align: center;
}
ol.myUL {
  display: inline-block;
  text-align: left;
}
.navbar
{
margin: 0px;
padding:20px;
background-color:white;
opacity:0.6;
color:yellow;
font-family:'Roboto',sans-serif;
font-style: italic;
border-radius:20px;
font-size:25px;
}

a:hover{
background-color:blue;
color:red;
border-radius:15px;0
font-size:30px;
padding-left:10px;
}
a{
color:red;
float:right;
text-decoration:none;
font-style:normal;
padding-right:20px;}
</style>
</head>
 <body style="background-color:Aqua">
<div class="navbar">
<a href="/upload" >Predict</a>
<a href="/info">Info</a>
<a href="/types">Types</a>
<a href="/about">Home</a>
<br>
</div><br>
<center><b class="pd"><font color="black" size="25" font-family="Times New Roman" >Types Of Arrhythmia</font></b></center><br><br>
<center><img src="../static/images/types.jpeg" width="800" height="900"></img></center>
<p>Arrhythmia describes a group of conditions that affect the heart’s natural rhythm. Different types of arrhythmias cause the heart to beat too fast, too slowly, or in an irregular pattern.
</p>
<center>
<p style="font-size:25px"><b>Types of arrhythmia</b> </p>
<div class="container">
  <ol class="myUL">
<li><b>Supraventricular arrhythmias:</b> Arrhythmias that begin in the atria (the heart’s upper chambers).<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"Supra” means above. “Ventricular” refers to the lower chambers of the heart or ventricles.</li>
<br><li><b>Ventricular arrhythmias:</b> Arrhythmias that begin in the ventricles (the heart’s lower chambers).</li>
<br><li><b>Bradyarrhythmias:</b> Slow heart rhythms that may be caused by disease in the heart’s conduction system,<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; such as the sinoatrial (SA) node, atrioventricular (AV) node or HIS-Purkinje network.</li>
</ol>
</div>
</center>
<p><b>1.What are the types of supraventricular arrhythmias?</b><br><br> Supraventricular arrhythmias begin in the atria or the upper chambers of your heart.
 Types of supraventricular arrhythmias include:</p>
<ul>
<li><b>Paroxysmal supraventricular tachycardia (PSVT):</b> A rapid but regular heart rhythm that comes from the atria. This type of arrhythmia begins and ends suddenly.</li>
<br> <li><b>Accessory pathway tachycardias (bypass tract tachycardias):</b> A fast heart rhythm caused by an extra, abnormal electrical pathway or connection between the atria and ventricles. The impulses travel through the extra pathways as well as the usual route. This allows the impulses to travel around your heart very quickly, causing it to beat unusually fast (example: Wolff- Parkinson-White syndrome).</li>
<br> <li><b>AV nodal re-entrant tachycardia (AVNRT):</b> A fast heart rhythm caused by the presence of more than one pathway through the atrioventricular (AV) node.</li>
<br> <li><b>Atrial tachycardia:</b> A rapid heart rhythm that starts in the atria.</li>
<br> <li><b>Atrial fibrillation:</b> A very common irregular heart rhythm. This happens when many impulses begin and spread through the atria, competing for a chance to travel through the AV node. This results in a disorganized rapid and irregular rhythm. Because the impulses are traveling through the atria in a disorderly fashion, there’s a loss of coordinated atrial contraction.</li>
<br> <li><b>Atrial flutter: </b>An atrial arrhythmia caused by one or more rapid circuits in the atrium. Atrial flutter is usually more organized and regular than atrial fibrillation.</li>
</ul>
<p><b>2.What are the types of ventricular arrhythmias?</b><br>
<br>A ventricular arrhythmia begins in the heart’s ventricles. Types of ventricular arrhythmias include:</p>
<ul>
<br><li><b>Premature ventricular contractions (PVCs):</b> Early, extra heartbeats that start out in the ventricles. Most of the time, PVCs don’t cause any symptoms or require treatment. This type of arrhythmia is common and can be related to stress, too much caffeine or nicotine, or exercise. They can be also be caused by heart disease or electrolyte imbalance. People who have several PVCs and/or symptoms associated with them should be evaluated by a cardiologist (heart doctor).</li>
<br><li><b>Ventricular tachycardia (V-tach):</b> A rapid heartbeat that begins in the ventricles. The rapid rhythm keeps the heart from adequately filling with blood, and less blood is able to pump through the body. V-tach can be serious, especially in people with heart disease, and may be associated with more symptoms than other types of arrhythmia. A cardiologist should evaluate this condition.</li>
<br><li><b>Ventricular fibrillation (V-fib):</b> An erratic, disorganized firing of impulses from the ventricles. The ventricles quiver and can’t generate an effective contraction, which results in a lack of blood being delivered to your body. This is a medical emergency that must be treated with cardiopulmonary resuscitation (CPR) and defibrillation (delivery of an energy shock to your heart muscle to restore a normal rhythm) as soon as possible.</li>
<br><li><b>Long QT: </b>While this is not an arrhythmia, it can predispose someone to have one. The QT interval is the area on the ECG that represents the time it takes for the heart muscle to contract and then recover, or for the electrical impulse to fire and then recharge. When the QT interval is longer than normal, it increases the risk for “torsade de pointes,” a life-threatening form of ventricular tachycardia.</li>
</ul>
<p><b>3.What are the types of bradyarrhythmias?</b><br>
<br>A bradyarrhythmia is a slow heart rhythm that is usually caused by disease in the heart’s conduction system. Types of bradyarrhythmias include:</p>
<ul>
<br><li><b>Sinus node dysfunction:</b> Slow heart rhythms due to an abnormal SA node.</li>
<br><li><b>Heart block:</b> A delay or complete block of the electrical impulse as it travels from the sinus node to the ventricles. The level of the block or delay may occur in the AV node or HIS-Purkinje system. The heartbeat may be irregular and slow.</li>
<br><li><b>Premature heartbeats:</b>
Premature heartbeats are extra beats that occur one at a time, sometimes in patterns that alternate with the normal heart beat. The extra beats may come from the top chamber of the heart (premature atrial contractions) or the bottom chamber (premature ventricular contractions).
A premature heartbeat may feel like your heart skipped a beat. These extra beats are generally not concerning, and they seldom mean you have a more serious condition. Still, a premature beat can trigger a longer-lasting arrhythmia, especially in people with heart disease. Occasionally, very frequent premature beats that last for several years may lead to a weak heart.
Premature heartbeats may occur when resting. Sometimes premature heartbeats are caused by stress, strenuous exercise or stimulants, such as caffeine or nicotine.</li>
</ul>
</body>
</html>
















